{% extends "base.html" %}

{% block titulo %}Registro{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block contenido %}
{% if errores %}
<div id="errores" class="alert bg-secondary text-dark alert-dismissible text-white">
    
    <strong>Errores:</strong>
    <ul id="lista-errores">
	{% for error in errores %}
	<li>{{ error }}</li>
	{% endfor %}
    </ul>
</div>
{% endif %}

<form class="was-validated" action="/registrar/" method="POST">
    {% csrf_token %}     
  
   <div class="mb-3 mt-3">
   <label for="user">Usuario:</label>
   <input type="text" class="form-control" id="user" placeholder="Ingresa tu UserName" name="user" pattern="[a-zA-Z0-9_-]+" required>
   <div class="valid-feedback">¡OK!</div>
   <div class="invalid-feedback">El username es obligatorio y no debe contener caracteres especiales</div>
    </div>
    </div>
    
   <div class="mb-3 mt-3">
   <label for="nombre">Nombre Completo:</label>
   <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre completo" name="nombre" pattern="[a-zA-Z]+" required>
   <div class="valid-feedback">¡OK!</div>
   <div class="invalid-feedback">El nombre es obligatorio y no debe contener caracteres especiales</div>
        </div>
        </div>
  
   <div class="mb-3">
   <label for="passwd">Contraseña:</label>
   <input type="password" class="form-control" id="passwd" placeholder="Ingresa tu contraseña" name="passwd" pattern="[a-zA-Z0-9 _-$]+" required>
   <div class="valid-feedback">¡OK!</div>
   <div class="invalid-feedback">Asegurate de ingresar tu contraseña de forma correcta</div>
    </div>
   </div>

   <div class="mb-3">
       <label for="passwd2">Confirmación de Contraseña:</label>
       <input type="password" class="form-control" id="passwd2" placeholder="Ingresa la confirmación de contraseña" name="passwd2" pattern="[a-zA-Z0-9 _-$]+" required>
       <div class="valid-feedback">¡OK!</div>
       <div class="invalid-feedback">Asegurate de ingresar tu validación de contraseña de forma correcta</div>
        </div>
       </div>
   
   <div class="g-recaptcha" data-sitekey="6Ld8MS8rAAAAANBp-6QHjhRnr8G5cIv3zPyv4mOE"></div>
   <br/>
 
   <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}
